{%  extends 'core/index.html' %}
{% load static %}
{% block contenido %}
            <div class="row">
              <p> Cheems Market </p>
                <h1>Listado de Productos</h1>
            </div>
            <form action="" method="post" enctype="multipart/form-data bg-light"> 
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Cod Producto</td>
                            <td>Nombre Producto</td>
                            <td>Descripcion</td>
                            <td>Stock</td>
                            <td>Precio</td>
                            <td>Categoria </td>
                            <td>Imagen Producto</td>
                            <td colspan="2"> Opciones: </td>
                        </tr>
                    </thead></form>
                    {% for p  in productos %}
                    <tbody>
                        <tr>
                            <td>{{ p.codProducto }}</td>
                            <td>{{ p.nombreProducto }}</td>
                            <td>{{ p.descripcion }}</td>
                            <td>{{ p.stock }}</td>
                            <td>{{ p.precio }}</td>
                            <td>{{ p.categoriaProd}}</td>
                            {% if p.imagenProd %}
                            <td> <img src= "{{ p.imagenProd.url }}" class="m-auto w-50"></td>
                            {% else  %}
                            <td>imagen no disponible</td>
                            {% endif %}
                            <td><a href="{% url 'modificar_prod' p.codProducto %}">Modificar</a></td>
                            <td><a href="{% url 'eliminar_prod' p.codProducto %}">Eliminar</a></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                <a href="/agregar_prod">Nuevo Producto</a>
            </div>
            <!--agregar opciones de fundaciones-->
            <div class="p-2 m-2">
              <a href="/admin_fund">Ir Administrador Fundacion</a>
              <br>
              <a href="/lista_personas"> Ir a listado Personas</a>
            </div>
            
{% endblock %}