{%  extends 'core/index.html' %}
{% load static %}
{% block contenido %}
            <div class="row">
              <p> Cheems Market </p>
                <h1>Listado de Fundaciones</h1>
              </div>
              <form action="" method="post" enctype="multipart/form-data bg-light"> 
                  <table class="table table-striped">
                      <thead>
                          <tr>
  
                              <td>Cod Fundación</td>
                              <td>Nombre Fundación</td>
                              <td>Descripción</td>
                              <td>Dirección</td>
                              <td>Teléfono</td>
                              <td>Correo </td>
                              <td>Imagen Fundación</td>
                              <td colspan="2"> Opciones: </td>
                          </tr>
                      </thead></form>
                      {% for f in fundaciones %}
                      <tbody>
                          <tr>
                              <td>{{ f.codFundacion }}</td>
                              <td>{{ f.nomFundacion }}</td>
                              <td>{{ f.descFundacion }}</td>
                              <td>{{ f.dirFundacion }}</td>
                              <td>{{ f.telFundacion }}</td>
                              <td>{{ f.mailFundacion}}</td>
                              
                              {% if f.imgFundacion %}
                              <td> <img src= "{{ f.imgFundacion.url }}" class="m-auto w-50"></td>
                              {% else  %}
                              <td>imagen no disponible</td>
                              
                              {% endif %}
                              <td> <a href="{% url 'modificar_fundacion' f.codFundacion %}">Modificar</a></td>
                              <td><a href="{% url 'eliminar_fundacion ' f.codFundacion %}">Eliminar</a></td>
                              
                          </tr>
                      </tbody>
                      {% endfor %}
                  </table>
                <a href="/agregar_fundacion">Nueva Fundacion</a>
            </div>
            <!--agregar opciones de fundaciones-->
              <br>
              <a href="/administrador"> Volver Administrador Productos</a>
            </div>
            
    {% endblock %}