{%  extends 'core/index.html' %}
{% load static %}
{% block contenido %}

    <!--FORMULARIO-->
    <h1 class="display-5 bg- text-center text-black p-6"  ><strong class="justify-content-center">Formulario</strong><br></h1>
    <p class="text-success text-center d-flex justify-content-center fs-5 bg-light">Si tienes alguna duda o consulta contactanos, estaremos felices de poder ayudarte</p> 
</script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div>
      <form id="basic-form" action="contacto" method="post">
        {% csrf_token %}
        
        {{ form.as_p }}
            <div>Seleccione Región</div>        
            <p id="region"></p>
            <div>Seleccione comuna</div> 
            <p id="comuna"></p>
            <button type="submit" class="formulario__btn">Enviar</button>
        </div>
      
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="{% static 'js/ValidacionF.js' %}"></script>
            <script src="{% static 'js/Regiones.js' %}"></script>
    
          
          {{mensaje}}
   </form>
  {% endblock %}