{%  extends 'core/index.html' %}
{% load static %}
{% block contenido %}

    <!--FUNDACIONES -->
    <h1 class="display-5 bg- text-center text-black p-6"  ><strong class="justify-content-center">Nuestras fundaciones</strong><br></h1>
    <p class="text-success text-center d-flex justify-content-center fs-5 bg-light">Conoces nuestras fundaciones, conoce sus causas. Puedes ayudar y hacer la diferencia</p> 
    
    <div class="row row-cols-1 row-cols-md-4 g-4 bg-">
      {%for f in fundaciones %}
      <div class="col">
        <div class="card ">
          <div class="card-body">
            {% if f.imgFundacion %}
            <img src="{{ f.imgFundacion.url }}" class="m-auto w-100"></td>
            {% else  %}
            <td>imagen no disponible</td>
            {% endif %}
            <h5 class="card-title">{{f.nomFundacion | title }}</h5>
            <p class="card-text">Descripción: {{f.descFundacion | capfirst}}</p>
            <p class="card-text">Dirección: {{f.dirFundacion | capfirst}}</p>
            <p class="card-text">Teléfono: {{f.telFundacion | capfirst}}</p>
            <a class="btn btn-success btn-lg" href="donar.html" role="button">Ir a donar</a>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Correo fundación: {{f.mailFundacion | capfirst}} </li>
           
          </ul>
          
          </div>
        </div>
        {% endfor %}
      </div>
    
   
    {% endblock %}