{%  extends 'core/index.html' %}
{% load static %}
{% block contenido %}
            <div class="row">
                <h1>Eliminacion de Productos</h1>
            </div>
            <div class="row">
                <form method="post" action="" id="formulario">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_table }}
                    </div>

                    <input type="submit" class="btn btn-danger" id="enviar" value="Eliminar"/>
                    <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar"/>
                </form>
                <div class="alert alert-success" role="alert">{{ mensaje }}</div>
            </div>
        </div>
    </body>
</html>
{% endblock %}