{%  extends 'core/index.html' %}
{% load static %}
{% block contenido %}
        <div class="container">
          <p> Cheems Market </p>
            <div class="row">
                <h1>Modificación de Productos</h1>
            </div>
            <div class="row">
                <form method="post" action="" id="formulario">
                    {% csrf_token %}
                    <div class="form-group">
                    
                    {{ form.as_p }}
                    </div>

                    <input type="submit" class="btn btn-danger" id="enviar" value="Modificar"/>
                    <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar"/>
                </form>
                <div class="alert alert-success" role="alert">{{ mensaje }}</div>
            </div>
            <a href="/administrador">Volver a Listado</a>
        </div>
        {% endblock %}